[include mainsail.cfg]
[include MantaM5P.cfg]
[include Nitehawk36.cfg]
[include Aux_Fan.cfg]
[include Macros.cfg]
[include klicky-probe.cfg]
[include KAMP_settings.cfg]
[include timelapse.cfg]
[include simple_leds.cfg]
[include Nevermore.cfg]
[include Filament_Sensor_Macros.cfg]
[include Cold_Pull.cfg]
[include shell_command.cfg]
[include autotune_tmc.cfg]

# host MCU service is preinstalled and ready to use with:
[mcu CM4]
serial: /tmp/klipper_host_mcu

[temperature_fan SoC_fan]
pin: CM4:gpio26
max_power: 1.0
kick_start_time: 0.2
off_below: 0.1
sensor_type: temperature_host
#sensor_pin:
target_temp: 40.0
control: pid
min_temp: 0
max_temp: 100
min_speed: 0.3
pid_Kp: 40
pid_Ki: 5
pid_Kd: 1

[printer]
kinematics: corexy
max_velocity: 350
max_accel: 5000
# max_accel_to_decel: 1500
max_z_velocity: 20  #15
max_z_accel: 500
square_corner_velocity: 6.0

[virtual_sdcard]
path: /home/linaro/printer_data/gcodes/
#   The path of the local directory on the host machine to look for
#   g-code files. This is a read-only directory (sdcard file writes
#   are not supported). One may point this to OctoPrint's upload
#   directory (generally ~/.octoprint/uploads/ ). This parameter must
#   be provided.
#on_error_gcode:
#   A list of G-Code commands to execute when an error is reported.


#[menu __main __octoprint]
#type: disabled


[exclude_object]

[gcode_macro global] ##GLOBAL VARIABLES
variable_xy_run_current: 0.7
variable_xy_home_current: 0.5
gcode:

[force_move]
enable_force_move: True
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.


[firmware_retraction]
retract_length: 0.8
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 30
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 30
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[z_tilt]
z_positions:
  61,112.5
  115,4
  5,4
points:
  77,99.5
  115,1
  20,1
#points:
#  61,108.5
#  5,0
#  115,0
speed: 200
retries: 8
retry_tolerance: 0.01
horizontal_move_z: 14

[probe]
#deactivate_on_each_sample: True
#z_offset: 10.61375
#   The distance (in mm) between the bed and the nozzle when the probe
#   triggers. This parameter must be provided.
speed: 3.0
samples: 3
sample_retract_dist: 2.0
lift_speed:7.0
samples_result: median
samples_tolerance: 0.0200
samples_tolerance_retries: 10
#activate_gcode:
#   A list of G-Code commands to execute prior to each probe attempt.
#   See docs/Command_Templates.md for G-Code format. This may be
#   useful if the probe needs to be activated in some way. Do not
#   issue any commands here that move the toolhead (eg, G1). The
#   default is to not run any special G-Code commands on activation.
#deactivate_gcode:
#   A list of G-Code commands to execute after each probe attempt
#   completes. See docs/Command_Templates.md for G-Code format. Do not
#   issue any commands here that move the toolhead. The default is to
#   not run any special G-Code commands on deactivation.

[bed_mesh]
speed: 60
horizontal_move_z: 12
mesh_min: 20, 0
mesh_max: 115, 98
probe_count: 5, 5
zero_reference_position:75,49

[idle_timeout]
gcode:
  TURN_OFF_HEATERS
  M84
  M107
  M106 S0
  SET_FAN_SPEED FAN=Aux_Fan SPEED=0
  STATUS_OFF
timeout: 1800

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 1.710
#*#
#*# [bed_mesh manual]
#*# version = 1
#*# points =
#*# 	-0.045000, -0.005000, -0.010000, 0.000000, 0.005000
#*# 	-0.045000, 0.010000, 0.010000, 0.015000, 0.005000
#*# 	-0.045000, 0.015000, 0.025000, 0.005000, -0.020000
#*# 	-0.040000, 0.035000, 0.050000, 0.030000, -0.025000
#*# 	-0.035000, 0.060000, 0.075000, 0.030000, -0.060000
#*# min_x = 5.0
#*# max_x = 115.0
#*# min_y = 5.0
#*# max_y = 115.0
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*#
#*# [probe]
#*# z_offset = 11.3
#*#
#*# [bed_mesh default cold]
#*# version = 1
#*# points =
#*# 	-0.012212, 0.030288, 0.000288, -0.002212, 0.007788
#*# 	-0.017212, 0.012788, 0.012788, 0.002788, -0.029712
#*# 	-0.024712, -0.009712, 0.002788, -0.017212, -0.052212
#*# 	-0.042212, -0.027212, -0.009712, -0.022212, -0.027212
#*# 	-0.024712, -0.017212, 0.002788, -0.029712, -0.054712
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 115.0
#*# min_y = 0.0
#*# max_y = 98.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.029469, 0.020531, -0.001969, -0.006969, -0.006969
#*# 	-0.034469, -0.001969, -0.011969, -0.001969, 0.020531
#*# 	-0.044469, -0.014469, -0.001969, 0.003031, 0.008031
#*# 	-0.049469, -0.034469, -0.016969, 0.003031, 0.030531
#*# 	-0.046969, -0.034469, -0.014469, -0.031969, -0.036969
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 115.0
#*# min_y = 0.0
#*# max_y = 98.0
#*#
#*# [bed_mesh default2]
#*# version = 1
#*# points =
#*# 	-0.002797, 0.017203, -0.002797, -0.020297, -0.032797
#*# 	-0.022797, 0.004703, -0.007797, 0.007203, 0.014703
#*# 	-0.037797, -0.012797, -0.002797, 0.007203, 0.019703
#*# 	-0.045297, -0.032797, -0.010297, 0.009703, 0.037203
#*# 	-0.037797, -0.027797, -0.015297, -0.022797, -0.040297
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 115.0
#*# min_y = 0.0
#*# max_y = 98.0
