##########
# MACROS #
##########

# The following status macros are available (these go inside of your macros):
#
#    STATUS_READY
#    STATUS_OFF
#    STATUS_BUSY
#    STATUS_HEATING
#    STATUS_LEVELING
#    STATUS_HOMING
#    STATUS_CLEANING
#    STATUS_MESHING
#    STATUS_CALIBRATING_Z
#
# With additional macros for basic control:
#
#    SET_NOZZLE_LEDS_ON
#    SET_LOGO_LEDS_OFF
#    SET_NOZZLE_LEDS_OFF
#
# Contributed by Voron discord users wile.e, Tetsunosuke, and etherwalker
#display_led, sb_leds, right_rgb, chamber_lights
[gcode_macro set_logo_leds_off]
gcode:
    #SET_LED LED=display_led INDEX=1 RED=0 GREEN=0 BLUE=0

[gcode_macro set_nozzle_leds_on]
gcode:
    SET_LED LED=sb_leds RED=0.8 GREEN=0.8 BLUE=0.8 

[gcode_macro set_nozzle_leds_off]
gcode:
    SET_LED LED=sb_leds RED=0 GREEN=0 BLUE=0 

[gcode_macro set_chamber_leds_on]
gcode:
    SET_LED LED=chamber_lights RED=0.8 GREEN=0.8 BLUE=0.8

[gcode_macro set_chamber_leds_off]
gcode:
    SET_LED LED=chamber_lights RED=0 GREEN=0 BLUE=0

[gcode_macro status_off]
gcode:
    SET_LED LED=chamber_lights RED=0 GREEN=0 BLUE=0 
    #SET_LED LED=display_led RED=0 GREEN=0 BLUE=0 
    SET_LED LED=sb_leds RED=0 GREEN=0 BLUE=0 

[gcode_macro status_ready]
gcode:
    #SET_LED LED=display_led RED=0.11 GREEN=0.11 BLUE=0.11 
    SET_LED LED=sb_leds RED=0.6 GREEN=0 BLUE=0 
    SET_LED LED=chamber_lights INDEX=1 RED=1.00 GREEN=0.00 BLUE=0.00 TRANSMIT=0
    SET_LED LED=chamber_lights INDEX=2 RED=1.00 GREEN=0.50 BLUE=0.00 TRANSMIT=0
    SET_LED LED=chamber_lights INDEX=3 RED=1.00 GREEN=1.00 BLUE=0.00 TRANSMIT=0
    SET_LED LED=chamber_lights INDEX=4 RED=0.50 GREEN=1.00 BLUE=0.00 TRANSMIT=0
    SET_LED LED=chamber_lights INDEX=5 RED=0.00 GREEN=1.00 BLUE=0.00 TRANSMIT=0
    SET_LED LED=chamber_lights INDEX=6 RED=0.00 GREEN=1.00 BLUE=0.50 TRANSMIT=0
    SET_LED LED=chamber_lights INDEX=7 RED=0.00 GREEN=1.00 BLUE=1.00 TRANSMIT=0
    SET_LED LED=chamber_lights INDEX=8 RED=0.00 GREEN=0.50 BLUE=1.00 TRANSMIT=0
    SET_LED LED=chamber_lights INDEX=9 RED=0.00 GREEN=0.00 BLUE=1.00 TRANSMIT=0
    SET_LED LED=chamber_lights INDEX=10 RED=0.50 GREEN=0.00 BLUE=1.00

[gcode_macro status_busy]
gcode:
    #SET_LED LED=display_led RED=0.4 GREEN=0 BLUE=0 
    SET_LED LED=sb_leds RED=0.8 GREEN=0.8 BLUE=0.8 

[gcode_macro status_heating]
gcode:
    SET_LED LED=chamber_lights RED=0.8 GREEN=0.35 BLUE=0 
    #SET_LED LED=display_led RED=0.3 GREEN=0.18 BLUE=0 
    SET_LED LED=sb_leds RED=0.8 GREEN=0.35 BLUE=0 

[gcode_macro status_leveling]
gcode:
    SET_LED LED=chamber_lights RED=0.5 GREEN=0.1 BLUE=0.4 
    #SET_LED LED=display_led RED=0.5 GREEN=0.1 BLUE=0.4 
    SET_LED LED=sb_leds RED=0.8 GREEN=0.8 BLUE=0.8 

[gcode_macro status_homing]
gcode:
    SET_LED LED=chamber_lights RED=0 GREEN=0.6 BLUE=0.2 
    #SET_LED LED=display_led RED=0 GREEN=0.6 BLUE=0.2 
    SET_LED LED=sb_leds RED=0.8 GREEN=0.8 BLUE=0.8 

[gcode_macro status_cleaning]
gcode:
    SET_LED LED=chamber_lights RED=0 GREEN=0.02 BLUE=0.5 
    #SET_LED LED=display_led RED=0 GREEN=0.02 BLUE=0.5 
    SET_LED LED=sb_leds RED=0.8 GREEN=0.8 BLUE=0.8 

[gcode_macro status_meshing]
gcode:
    #SET_LED LED=display_led RED=0.2 GREEN=1 BLUE=0 
    SET_LED LED=sb_leds RED=0.8 GREEN=0.8 BLUE=0.8 

[gcode_macro status_calibrating_z]
gcode:
    SET_LED LED=chamber_lights RED=0.8 GREEN=0 BLUE=0.35 
    #SET_LED LED=display_led RED=0.8 GREEN=0 BLUE=0.35 
    SET_LED LED=sb_leds RED=0.8 GREEN=0.8 BLUE=0.8 

[gcode_macro status_printing]
gcode:
    SET_LED LED=chamber_lights RED=1 GREEN=1 BLUE=1 
    #SET_LED LED=display_led RED=1 GREEN=0 BLUE=0 
    SET_LED LED=sb_leds RED=1 GREEN=1 BLUE=1 